<div class="wizard-container-balance" style="text-align:center">
    <div class="card-balance wizard-card-balance" style="display: inline-block;" >
        <div class="wizard-header">
            <h3 style="text-align: center;">
                <b> Forgot Password</b> <br>
             </h3>
             <div class="card-body">
                <div class="form-group">
                    <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="email" name="name" id="name" placeholder="Your Email" [(ngModel)]="email"/>
                </div>
                <div class="form-group form-button">
                    <input type="submit" name="signup" id="signup" class="form-submit" value="Submit" (click)="validate()"/>

                </div>
                
                <!-- <div *ngIf="check"> -->
                  <table>
                    <tr>
                      <td>
                        Security Question 1 :
                      </td>
                      <td>
                        {{this.wallet.securityQuestionOne}}
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <div class="form-group">
        
                              <input type="text" name="answer" id="answerOne" placeholder="Answer" [(ngModel)]="ansOne"/>
                          </div>
                      </td>
                    </tr>
                    <tr>
                        <td>
                          Security Question 2 :
                        </td>
                        <td>
                          {{this.wallet.securityQuestionTwo}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                            <div class="form-group">
        
                                <input type="text" name="answer" id="answerTwo" placeholder="Answer" [(ngModel)]="ansTwo"/>
                            </div>
                        </td>
                      </tr>
                  </table>
                  <div class="form-group">
        
                      <input type="password" name="newpass" id="newpass" placeholder="New Password" [(ngModel)]="newPassword"/>
                  </div>
                  <div class="form-group">
        
                      <input type="password" name="cnfpass" id="cnfpass" placeholder="Confirm Password" [(ngModel)]="cnfPassword"/>
                  </div>

                  <div class="form-group form-button">
                      <input type="submit" name="updatepass" id="updatepass" class="form-submit" value="Update Password" (click)="updatePass()"/>
  
                  </div>
                <!-- </div> -->

             </div>
          </div>
     </div>
  </div>