<div class="wizard-container-balance" style="text-align:center">
    <div class="card-balance wizard-card-balance" style="display: inline-block;" >
        <div class="wizard-header">
            <h3 style="text-align: center;">
                <b> Add Money</b> <br>
             </h3>
             <div class="card-body">
                <div class="form-group">
                    <input type="number" name="addmoney" id="number" placeholder="Enter Amount to add" [(ngModel)]="balance"/>
                </div>
                
                <div style="text-align: center;">
                  <table style="display: inline;"> 
                    <tr>
                      <td>
                          <div class="form-group form-button">
                              <input type="submit" name="add" id="add" class="form-submit-addmoney" value="Add Money" (click)="addMoney()"/>
                          </div>
                      </td>
                      <td>
                          <div class="form-group form-button">
                              <input type="submit" name="cancel" id="cancel" class="form-submit-money-cancel" value="Cancel"/>
                          </div>
                      </td>
                    </tr>
                  </table>
                </div>
                    
                   
                
                

              </div>
         </div>  
         

    </div>
</div>